<hr>
<div class="promotion">
  <img src="/images/bookmarks/bookmarks.dev-logo-md.png" alt="Dev-Bookmarks Logo" />
  <p>
    Save up to a workweek a year by efficiently managing your dev bookmarks, on <span class="highlight-yellow"><a href="https://www.bookmarks.dev" target="_blank">www.bookmarks.dev</a></span>.
    Share your favorites with the community and they will be published on <a href="https://github.com/Codingpedia/bookmarks" target="_blank">Github</a>
    - <span style="vertical-align: middle"><a class="github-button" href="https://github.com/Codingpedia/bookmarks" data-icon="octicon-star" aria-label="Star ntkme/github-buttons on GitHub">Star</a></span>
  </p>
</div>
<hr>
